body {
  background-color: #FFFFFF;
  padding: 10%;
}


.links {
  opacity: 0.9;
  width: 25px;
  height: 25px;
}


.social:hover {
  background-color: transparent;
  text-decoration-style: unset;
}

h1 {
  color: black ;
  text-align: left;
  font-family: Consolas,monospace;
  font-size: 25px;
  vertical-align: middle;
  max-width: 500px;
  margin: auto;
}

p {
  color: black;
  font-family: Consolas,monospace;
  font-size: 20px;
  vertical-align: middle;
  text-align: left;
  margin: auto;
  max-width: 500px;
  font-size: 15px;
}


a {
  color: grey;
  text-align: left;
  text-decoration-style: dotted;`````````
  font-size: 15px;
}

a:hover {
  background-color: #FC9BB3;
  color: white;
}

.social{
  opacity: 0.8;
  text-decoration-style: unset;
}

.goback {
  font-size: 13px;
  font-family: Consolas,monospace;
}
