body {
  background-color: #FFFFFF;
  padding-top: 17%
}

h1 {
  color: Black ;
  text-align: center;
  font-family: Courier New,monospace;
  font-size: 25px;
  font-stretch: condensed;
  vertical-align: middle;
}

p {
  color: black;
  text-align: center;
  font-family: Courier New,monospace;
  font-size: 17px;
  font-stretch: semi-condensed;
  vertical-align: middle;
  padding-top: 1vh;
}

a {
  color: black;
  text-align: center;
  font-family: Courier New,monospace;
  vertical-align: middle;
  text-decoration: none;
  font-size: 17px;
  font-stretch: semi-condensed;
  border-bottom: 1px dashed;
}

a:hover {
  color: #FC9BB3;
  text-decoration: none;
}
