<!DOCTYPE html>
<html>
   <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

<!--
  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/links">Links</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
 -->    
 
   <nav class="top-bar" aria-label="Primary">
  
    <ul class="navigation">
      
      <li><a class="" href="/packages">Packages</a></li>
      <li><a class="" href="/themes">Themes</a></li>
      <li><a class="" href="/docs">Documentation</a></li>
      <li><a href="https://blog.atom.io">Blog</a></li>
      <li><a href="https://discuss.atom.io">Discuss</a></li>
    </ul>
<div class="container">

  {{ content }}

</div>
 
</nav>
  
  <footer>
   <ul>
   <li><a href="mailto:brendanhok@gmail.com">email</a></li>
   <li><a href="https://github.com/brendanok">github.com/brendanok</a></li>
   </ul>
  </footer>
  </body>

</html>
